.container {
    --repeat-count: auto-fit;
    --grid-template-columns: repeat(var(--repeat-count), minmax(0%, 1fr));

    width: 100%;
    margin-inline: auto;
}

.treeGrid {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
}

.rowGroup,
.row {
    display: contents;
}

.columnHeader {
    /* TODO */
}

.gridCellSpanFull {
    grid-column: 1 / -1;
}
