.grid {
    --repeat-count: auto-fit; /* default; depends on columns length */
    --grid-template-columns: repeat(var(--repeat-count), minmax(0%, 1fr)); /* default */

    display: grid;
    grid-template-columns: var(--grid-template-columns);
}

.contents {
    display: contents;
}

.colSpanFull {
    grid-column: 1 / -1;
}
